/* Global css */

* {
    margin: 0 auto;
}

:root {
    --title-font-family: 'Inter', sans-serif;
    --paragraph-font-family: 'Poppins', sans-serif;
    --primary-color: #EF233C;
    --font-color-light: #fff;
    --section-title-color:#121212;
    --font-color-dark:#707070;

}
.container{
    max-width: 1440px;
    width: 70%;
}
.margin-top{
    margin-top: 5%;
}
button {
    color: var(--font-color-light);
    font-family: var(--title-font-family);
    font-weight: 600;
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 20px;
    transition: color 200ms;
    margin-left: 0;

}

button:hover {
    color: var(--primary-color);
    background-color: var(--font-color-light);
    border: 1px solid var(--primary-color);
}
.section-head{
    text-align: center;
    width: 50%;
}

/* Banner section */
.banner-section {
    height: 100vh;
    background-image: url("../images/Rectangle 1.png");
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(9, 9, 121, 0) 100%);
    position: absolute;
    z-index: 0;
}

.banner-container {
    position: relative;
    z-index: 1;
    height: 100%;
    max-width: 1440px;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--font-color-light);
}

.banner-content {
    width: 50%;
    margin-left: 0;
}

.banner-title {
    font-family: var(--title-font-family);
    font-weight: bold;
    font-size: 75px;
}

.banner-sub-title {
    font-family: var(--paragraph-font-family);
    font-weight: 400;
    font-size: 18px;
    margin: 30px 0px;
    line-height: 27px;
}


/* section 2 */
.flexbox{
    display: flex;
}
.half-width {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.half-width > .section-title{
    margin-left: 0;
}
.section-title{
    font-family: var(--title-font-family);
    color: var(--section-title-color);
    font-size: 45px;
}
.section-pera{
    font-family: var(--paragraph-font-family);
    font-weight: 400;
    font-size: 18px;
    margin: 30px 0px;
    line-height: 27px; 
    color: var(--font-color-dark);
}

.section-img{
    height: 477px;
    margin-left: 0;
}

.padding-right{
    padding-right: 5%;
}

/* section 3 */
.card-icon{
    width: 56px;
    height: 56px;
}
.card-title{
    font-family: var(--title-font-family);
    color: var(--section-title-color);
    font-size: 20px;
}
.card-pera{
    font-family: var(--paragraph-font-family);
    color: var(--font-color-dark);
    font-size: 18px;
}
.card-wrapper{
    background-color: #FEF4F5;
    border-radius: 5px;
    padding: 20px;
}
.grid-1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px 20px;
    width: 80%;
}